<div class="container mt-2">
  <div class="row">
    <div class="col-sm-8">
      <%= image_tag("1.jpeg", class: "img-fluid") %>
    </div>
    <div class="col-sm-4">
      <h2>Hello first app</h2>
      <p>The collapse JavaScripse padding on adgdsgl;ksdgl;dsjkg
      sajgkdsjgkdsjkgjdsgajsdkg
      ajglksjgkdjgkladsj
       .collapse element. Instead, use the class as an independent wrapping element.</p>
      <a href="" class="btn btn-primary btn-lg">Call to action</a> 
      <!-- <%= link_to "Call to action", class: "btn btn-primary btn-lg" %> -->
    </div>
  </div>
</div> <!-- het container -->

<div class="thongbao">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <hr>
        <div class="alert alert-warning text-xs-center">
          he collapse JavaScript plugin is used to show and hide content. Buttons or anchors are used as triggers that are mapped to specific elements you toggle. Collapsing an element will animate the height from its current value to 0. Given how CSS handles animations, you cannot use
        </div>
      </div>
    </div>
  </div>
</div> <!-- HET THONG BAO -->

<div class="_3noidung">
  <div class="container">
    <div class="row">
      
      <div class="card-group">
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Button</a>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Button</a>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <a href="#" class="btn btn-primary">Button</a>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- Het _3noidung -->
